.logo-image {
    width: 100%;
    height: 99vh;
}

@media (max-width: 600px) {
    .logo-image {
        display: none;
    }
}

.pageName {
    color: #5664d2;
    cursor: pointer;
}

.termsCondition {
    color: #74788d;
    cursor: pointer;
}

