.patientBtn {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    .patientBtn {
        display: none;
    }
}

.patientBtn .today {
    background-color: #eff2f7;
    color: black;
    border: 1px solid #eff2f7;
}

.patientBtn .weekly {
    background-color: #bfc2c6;
    color: #ffffff;
    border: 1px solid #bfc2c6;
}

.patientBtn .monthly {
    background-color: #eff2f7;
    color: black;
    border: 1px solid #eff2f7;
}



.outer-container {
    background-color: #eff2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 40%;
}

.avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

.custom-tooltip {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.custom-tooltip p:first-child {
    background-color: #bfc2c6;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

.custom-tooltip hr {
    border: 0;
    border-top: 1px solid #f0f0f0;
    margin: 5px 0;
}


.list {
    width: 250px;
}

.fullList {
    width: auto;
}


.grow {
    flex-grow: 1;
}

.menuButton {
    margin-right: 16px;
}

.title {
    display: none;
}


.icon-container {
    display: flex;
}

.icon-item {
    display: flex;
    flex-direction: row;
}

.divitionName {
    margin-right: 6vh;
}

.headerIcon {
    color: #636e75;
}

.hiddenOnSmallScreen{
    height: 490px; 
    width: 260px;
}

@media (max-width: 600px) {
    .hiddenOnSmallScreen {
      height: auto;
      width: auto;
    }
  }

  .iconDivition{
    margin-right: 3vb;
  }